/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .mobile-links {
    height: auto !important;
  }
  .menu-link {
    display: none;
  }
  .fa {
    display: none;
  }
  #sharing {
    display: none;
  }
  .connect-title__link {
    display: none;
  }
}

.fa {
  box-sizing: content-box;
  padding: 4px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: white;
  color: #0071bc;
  border: 1px solid #0071bc;
}

.fa-twitter {
  background: white;
  color: #0071bc;
  border: 1px solid #0071bc;
}

.fa-pinterest {
  background: white;
  color: #0071bc;
  border: 1px solid #0071bc;
}

.fa-envelope {
  background: white;
  color: #0071bc;
  border: 1px solid #0071bc;
}

.fa:visited {
  color: #0071bc;
}

.fa:hover {
  opacity: 0.8;
  color: white;
  background: #0071bc;
  text-decoration: none;
}

.fat {
  display: inline-block;
  font-family: FontAwesome, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-stack-1x {
  font-size: 42px;
}

.fa-circle {
  color: #0071bc;
}

.loader {
  border: 16px solid #a7a7a7;
  border-radius: 50%;
  border-top: 16px solid #0071bc;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

.note {
  align-items: center;
  background-color: #eff0f2;
  border-radius: 12px;
  display: flex;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
  padding: 0.25em;
}

.share-links a {
  text-decoration: none;
  font-size: 0;
}
