/* community map layers */
.esri-expand__content--expanded {
  overflow: auto;
  background-color: white;
}

@media screen {
  .esri-expand__content-container {
    max-height: 540px;
    overflow: auto;
  }
}

.esri-view-height-xsmall .esri-expand__popover-content {
  max-height: 240px;
}

.esri-view-height-small .esri-expand__popover-content {
  max-height: 420px;
}

.hmw-map-layers,
.esri-view-root .esri-basemap-gallery {
  min-width: 225px;
  max-width: 225px;
}

.esri-basemap-gallery {
  overflow: visible !important;
  max-height: 100% !important;
}

.esri-basemap-gallery:focus-within {
  outline: none;
}

.esri-basemap-gallery__item-thumbnail {
  height: 31px;
  width: 64px;
  min-width: 64px;
}

.esri-layer-list {
  padding-top: 5px;
  overflow: visible !important;
  max-height: 100% !important;
}

.esri-legend__symbol {
  margin: unset;
}

.esri-legend__layer-cell--info:empty {
  display: none;
}

.esri-print__header-title {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2;
}

.esri-scale-bar {
  z-index: 0;
}

.esri-scale-bar__label {
  overflow: auto;
}

.esri-view-width-less-than-medium .esri-popup__main-container {
  width: 350px;
}

.esri-view-width-xsmall
  .esri-popup--is-docked-bottom-center
  .esri-popup__main-container {
  padding: 0;
}

.esri-widget {
  font-family: 'Source Sans Pro Web', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
  --calcite-font-family: 'Source Sans Pro Web', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
  --calcite-color-text-1: #4a4a4a;
}

.esri-widget--panel-height-only {
  width: 225px !important;
}

/* esri popup styles*/
.esri-popup__main-container calcite-flow,
.esri-popup__main-container calcite-action,
.esri-popup__main-container calcite-action-bar {
  --calcite-color-border-3: #0674ba;
  --calcite-color-foreground-1: #0674ba;
  --calcite-color-foreground-2: #0674ba;
  --calcite-color-foreground-3: #0674ba;
  --calcite-color-text-1: white;
  --calcite-color-text-2: white;
  --calcite-color-text-3: white;
}

.esri-features__container:not(:empty) {
  padding: 0;
}

.esri-features__container {
  background-color: white !important;
  padding: 0 0 12px 0;
}

.esri-features__header {
  border: none;
}

.esri-features__heading {
  color: white;
}

.esri-popup--aligned-bottom-center .esri-popup__pointer-direction,
.esri-popup--aligned-bottom-left .esri-popup__pointer-direction,
.esri-popup--aligned-bottom-right .esri-popup__pointer-direction,
.esri-popup__pointer-direction.blue-popup-pointer,
.esri-popup:has(.esri-features__footer) .esri-popup__pointer-direction {
  background-color: #0674ba;
}

.esri-popup__pointer-direction.blue-popup-pointer {
  background-color: #0674ba;
}

.esri-popup th {
  padding: 0.35rem;
}

.esri-popup tr:nth-child(even),
.esri-popup .row-cell:nth-of-type(4n + 3),
.esri-popup .row-cell:nth-of-type(4n + 3) + * {
  background-color: #f0f5f9;
}

.esri-popup td,
.esri-popup span.row-cell {
  padding: 0.35rem;
}

.esri-feature p {
  margin: 0; /* override esri's default margin */
  margin-bottom: 0.5rem;
}

.esri-feature a {
  color: #0071bc;
}

.hmw-map-toggle {
  padding: 10px 0 0;
  background-color: #fff;
}

.hmw-map-toggle h2 {
  margin: 0 10px;
  padding: 0;
  font-family: 'Source Sans Pro Web', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
  font-size: 1.25em;
}

.hmw-map-toggle hr {
  margin: 10px;
  width: calc(100% - 20px);
}

.esri-legend {
  min-height: auto !important;
  max-height: none !important;
}

.esri-legend-hidden {
  display: none;
}

.esri-legend__message {
  display: none;
}

.esri-attribution__powered-by {
  overflow: auto;
}

.hidden {
  display: none !important;
}
