/* community map layers */
.esri-expand__content--expanded {
  overflow: auto;
  background-color: white;
}

.hmw-map-layers,
.esri-view .esri-basemap-gallery {
  min-width: 225px;
  max-width: 225px;
}

.esri-basemap-gallery {
  overflow: visible !important;
  max-height: 100% !important;
}

.esri-basemap-gallery__item-thumbnail {
  height: 31px;
  width: 64px;
  min-width: 64px;
}

.esri-layer-list {
  padding: 12px 10px 0;
  background-color: inherit;
  overflow: visible !important;
  max-height: 100% !important;
}

.esri-layer-list__item-container {
  padding: 5px;
}

.esri-layer-list__item-label {
  padding: 5px;
}

.esri-layer-list__item {
  margin: 0 0 10px;
  border-bottom: none;
  line-height: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.esri-legend__symbol {
  margin: unset;
}

.esri-print__header-title {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2;
}

.esri-layer-list__item-title {
  align-self: center;
  font-size: 0.8125em;
}

.esri-scale-bar {
  z-index: 0;
}

.esri-scale-bar__label {
  overflow: auto;
}

.esri-view-width-less-than-medium .esri-popup__main-container {
  width: 350px;
}

.esri-view-width-xsmall
  .esri-popup--is-docked-bottom-center
  .esri-popup__main-container {
  padding: 0;
}

.esri-widget {
  font-family: 'Source Sans Pro Web', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
}

.esri-widget--panel-height-only {
  width: 225px !important;
}

/* esri popup styles*/
calcite-action,
calcite-action-bar,
calcite-flow {
  --calcite-ui-border-3: #0674ba;
  --calcite-ui-foreground-1: #0674ba;
  --calcite-ui-foreground-2: #0674ba;
  --calcite-ui-foreground-3: #0674ba;
  --calcite-ui-text-1: white;
  --calcite-ui-text-2: white;
  --calcite-ui-text-3: white;
}

.esri-features__container {
  background-color: white !important;
  padding: 0 0 12px 0;
}

.esri-features__header {
  border: none;
}

.esri-features__heading {
  color: white;
}

.esri-popup th {
  padding: 0.35rem;
}

.esri-popup tr:nth-child(even),
.esri-popup .row-cell:nth-of-type(4n + 3),
.esri-popup .row-cell:nth-of-type(4n + 3) + * {
  background-color: #f0f5f9;
}

.esri-popup td,
.esri-popup span.row-cell {
  padding: 0.35rem;
}

.esri-feature p {
  margin: 0; /* override esri's default margin */
  margin-bottom: 0.5rem;
}

.esri-feature a {
  color: #0071bc;
}

.hmw-map-toggle {
  padding: 10px 0 0;
  background-color: #fff;
}

.hmw-map-toggle h1 {
  margin: 0 10px;
  padding: 0;
  font-family: 'Source Sans Pro Web', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
  font-size: 1.25em;
}

.hmw-map-toggle hr {
  margin: 10px;
  width: calc(100% - 20px);
}

.esri-legend {
  min-height: auto !important;
  max-height: none !important;
}

.esri-legend-hidden {
  display: none;
}

.esri-legend__message {
  display: none;
}

.esri-attribution__powered-by {
  overflow: auto;
}

.hidden {
  display: none !important;
}
