.ReactTable {
  /*These styles are suggested for the table fill all available space in its containing element*/
  display: block;
  /* These styles are required for a horizontaly scrollable table overflow */
  overflow: auto;
}

.ReactTable .rt-table {
  border-spacing: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.ReactTable .rt-thead {
  background-color: #f1f1f1;
}

.ReactTable .rt-thead .rt-tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-body .rt-tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}

.ReactTable .rt-tbody .rt-tr.-odd {
  background-color: rgba(0, 0, 0, 0.03);
}

.ReactTable .rt-tr:last-child .rt-td {
  border-bottom: 0;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  margin: 0;
  overflow: hidden;

  /* This is required for the absolutely positioned resizer */
  position: relative;
}

.ReactTable .rt-th:last-child,
.ReactTable .rt-td:last-child {
  border-right: 0;
}

.ReactTable .rt-th {
  padding: 5px;
  font-weight: 700;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-th span {
  float: right;
}

.ReactTable .rt-td {
  padding: 7px 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.02);
}

.ReactTable .rt-th .rt-resizer,
.ReactTable .rt-td .rt-resizer {
  right: 0;
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  cursor: col-resize !important;
  /* prevents from scrolling while dragging on touch devices */
  touch-action: none;
  /* prevents highlighting text while resizing */
  user-select: none;
}

.ReactTable .rt-col-title {
  padding: 2px;
}

.ReactTable .rt-filter {
  padding-top: 10px;
}
